# Python
__pycache__/
*.py[cod]
*.log

# 虚拟环境
venv/
.env
*.env

# VS Code
.vscode/

# Windows 系统文件
Thumbs.db
.DS_Store
*.lnk
*.zip
*.rar

# Git 子仓库痕迹
**/.git

# Notion 和 Obsidian 配置
config/*.json
config/*.pyc
